#topbox{
	width: 500px;
	height: 50px;
	margin: 5px;
	display: flex;
}
.button1{
	width: 100px;
	height: 40px;
	margin-top: 25px;
}
.button1:hover{
	background-color: green;
}
.button2{
	width: 100px;
	height: 40px;
	margin-top: 25px;
	margin-left: 15px;
}
.button2:hover{
	background-color: red;
}
.button3{
	width: 100px;
	height: 40px;
	margin-top: 25px;
	margin-left: 15px;
}
.button3:hover{
	background-color: blue;
}
#container{
	margin-top: 50px;
	display:flex;
}
#myMap{
	width: 1500px;
	height: 800px;
}